.heading, .text, .btn{
    text-align: center;
}

.box{
    text-align: center;
    display: grid;
    margin: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.caption{
    text-align: center;
    font-weight: 700;
}

#submit{
    background-color: brown;
    color: white;
    border: none;
    border-radius: 15px;
    text-align: center;
    height: 30px;
}


#formbox{padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
    opacity: 0.4;
    position: absolute;
    top: 10px;
    height: 30%;
    width: 30%;
}





.modal {
    text-align: center;
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: black;
    opacity: 0.9;
  }
  
  
  .formBox {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
